:root {
  --color-black: #111111;
  --color-white: #ffffff;
  --color-blue: #0074d9;
  --color-light-blue: #34b7f1;
  --color-green: #075e54;
  --color-green-lighter: #128c7e;
  --color-gray: #4b4f56;
  --color-light-gray: rgba(247, 247, 247, 100);
  --color-silver: #dddddd;
  --color-shocking-green: #25d366;
  --color-pink: #f012be;
  --background-color: var(--color-light-gray);
}
html {
  background-color: var(--background-color);
}
